body {
  background: #f8e8a6;
  display: block;
}

h1,
p {
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
}

.tabs {
  color: green;
  margin: 0 12px;
}

img {
  border-radius: 10px;
  display: block;
  margin: 30px auto;
  max-width: 100%;
}
